@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    min-height: $row-height;
  }
  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    min-height: $row-height;
    height: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    background: #f8f8fa;
    border-top: none;
    position: relative;
    user-select: none;
  }
  .row-data {
    display: flex;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    background: #f8f8fa;
    position: relative;
    user-select: none;
  }
  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    min-height: $row-height;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $selected-color;
      z-index: 2;
    }
    &.preselected {
      border: none;
      outline: 1px solid $selected-color;
      background-color: fade-out($selected-color, .9);
      z-index: 2;
    }
  }
  .col-resize,
  .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $selected-color;
    opacity: 0;
    transition: opacity .1s ease;
    z-index: 100;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }
  .col-resize {
    top: 0;
    width: 4px;
    &.active {
      cursor: col-resize;
      &:after {
        content: "";
        width: 1px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100vh;
        background-color: $selected-color;
        z-index: 101;
      }
    }
    &:hover {
      cursor: col-resize;
    }
  }
  .row-resize {
    left: 0;
    height: 4px;
    &.active {
      cursor: row-resize;
      &:after {
        content: "";
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100vw;
        background-color: $selected-color;
        z-index: 101;
      }
    }
    &:hover {
      cursor: row-resize;
    }
  }
}

